.count-message-not-read {
    margin-left: 5px !important;
}

.activityiconcontainer > i {
    color: white;
}


a:hover {
    text-decoration: none!important;
}

section.block_novelties_notices > div.card-body {
    display: flex;
    flex-direction: column;
}

section.block_novelties_notices > div.card-body > div.card-text {
    flex: 1 1;
}

section.block_novelties_notices > div.card-body > div.card-text > .v-application{
    height: 100%;
}